mixin social-list(hover)
    if (hover === 'white-hover')
        .social-list.social-list--white-hover
            a(href='#')
                span.mdi.mdi-facebook-box.mdi-36px
            a(href='#')
                span.mdi.mdi-instagram.mdi-36px
            a(href='#')
                span.mdi.mdi-pinterest.mdi-36px
    else if (hover === "black-hover")
        .social-list.social-list--black-hover
                a(href='#')
                    span.mdi.mdi-facebook-box.mdi-36px
                a(href='#')
                    span.mdi.mdi-instagram.mdi-36px
                a(href='#')
                    span.mdi.mdi-pinterest.mdi-36px