blockquote {
    display: flex;

    flex-direction: column;
    margin: 0 auto;

    text-align: center;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        text-align: left;
        // flex: 0 0 66.66667%;
        max-width: 80%;

    }

    &::before {
        content: '\275D';
        display: block;
        font-size: 34px;
        margin-top: -5px;
        margin-right: 36px;
        margin-bottom: 36px;
        text-align: center;

    }

    p {
        @extend h5;
        color: $primary-pink;
    }
}