.pagination {
  &__container {
    display: flex;
    justify-content: center;
  }

  display: flex;

  @include list-unstyled();

  &__item {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    &:nth-of-type(1) {
      border-left: 1px solid #000;

      a {
        padding: 2px 10px;

        @include media-breakpoint-up(lg) {
          padding: 8px 15px;
        }
      }
    }

    &:nth-of-type(1n) {
      border-right: 1px solid #000;
    }

    &:nth-last-of-type(1) {
      a {
        padding: 2px 10px;

        @include media-breakpoint-up(lg) {
          padding: 8px 15px;
        }
      }
    }

    &--active,
    &:hover {
      background-color: #000;

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    display: block;

    @include media-breakpoint-up(lg) {
      padding: 14px 25px;
      font-size: 18px;
    }

    span:before {
      font-size: 30px;

      @include media-breakpoint-up(lg) {
        font-size: 26px;
      }
    }
  }
}