extends layouts/_default

block variables
	- const title = "Teasers"

block content

	include components/teasers/_teasers-swiper
	br
	br
	br
	br

	include components/teasers/_teaser
	br
	br
	br
	br
	include components/teasers/_teaser-event
	br
	br
	br
	br
	include components/teasers/_teaser-bg
	br
	br
	br
	br
	//- include components/teasers/_teasers
	br
	br
	br
	//- include components/_nl-tabs
					
			