.accordion__container
    .accordion__container-inner
        .accordion
            .accordion-inner
                .accordion__section
                    header
                        h4 Öffnungszeiten
                        .accordion__section-toggle
                            span.mdi.mdi-chevron-up
                    .accordion__section-body
                        p aliquet sed leo amet dictum sed sapien sed ac egestas libero, nibh vitae nascetur dui aenean cursus integer amet massa condimentum massa eu viverra et faucibus luctus aliquet vitae egestas augue sed condimentum diam risus ornare auctor suspendisse scelerisque amet, quis sollicitudin nascetur nunc quis
                .accordion__section
                    header
                        h4 Öffnungszeiten
                        .accordion__section-toggle
                            span.mdi.mdi-chevron-up
                    .accordion__section-body
                        p aliquet sed leo amet dictum sed sapien sed ac egestas libero, nibh vitae nascetur dui aenean cursus integer amet massa condimentum massa eu viverra et faucibus luctus aliquet vitae egestas augue sed condimentum diam risus ornare auctor suspendisse scelerisque amet, quis sollicitudin nascetur nunc quis
                .accordion__section
                    header
                        h4 Öffnungszeiten
                        .accordion__section-toggle
                            span.mdi.mdi-chevron-up
                    .accordion__section-body
                        p aliquet sed leo amet dictum sed sapien sed ac egestas libero, nibh vitae nascetur dui aenean cursus integer amet massa condimentum massa eu viverra et faucibus luctus aliquet vitae egestas augue sed condimentum diam risus ornare auctor suspendisse scelerisque amet, quis sollicitudin nascetur nunc quis
