body {
  background-color: $background !important;
}

a {
  color: $light;
}

ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}

.animate {
  transition: all 0.9s ease-out;
}

.logo a svg {
  fill: #72747C;
  // transition: all .1s;
}

.logo a svg:hover {
  fill: #000;
}

.decor {
  color: #fff;
  background-color: $decor;
  padding: 3px 20px 5px 2px;
}

.footer-nav__link:hover .decor {
  background-color: #000;
  transition: all 0.9s ease-out;
}