include _teasers-mixins
.teaser__wrapper
	.teaser__container
		h2.teaser__title Mehr zum Schloss in unserem Blog
		.teaser__container-inner
			+teaser-blog('../images/teasers/teaser_15.jpg', "Heiraten im Schloss", "Lisa und Jonas Traum-hochzeit")
			+teaser-blog('../images/teasers/teaser_15.jpg', "Heiraten im Schloss", "Lisa und Jonas Traum-hochzeit")
			+teaser-blog('../images/teasers/teaser_15.jpg', "Heiraten im Schloss", "Lisa und Jonas Traum-hochzeit")