include _teasers-mixins

.teaser__wrapper.teaser__wrapper--color
	.teaser__container
		.teaser__container-header
			.teaser__left
				h2 Ein Ort für viele Erinnerungen
			.teaser__right
				p Erleben Sie unvergessliche Momente im Schloss Benrath.
		.teaser__container-inner
			+teaser('../images/teasers/teaser_12.jpg', "Heiraten", "Ein besonderer Ort für einen besonderen Tag: Die standesamtliche Trauung im traumhaften Kuppelsaal, ein stilvoller Sektempfang auf der Schlossterrasse und eine fröhliche Feier in unseren eleganten Räumen machen Ihre Hochzeit zu einem unvergesslichen Augenblick.")
			+teaser('../images/teasers/teaser_13.jpg', "Räume mieten", "Geburtstag feiern im urigen Gewölbekeller, ein stilvolles Dinner im Festsaal oder ein Sektempfang im kunstvoll verzierten Foyer: Unsere eleganten Räume können Sie für Ihre Feiern und Meetings buchen und darin unvergessliche Momente schaffen.")
			+teaser('../images/teasers/teaser_14.jpg', "Film, Fernsehn & Foto", "Das malerische rosa Schloss, der weitläufige Park und die prachtvollen Innenräume sind eine verlockende Kulisse für Foto, Film und Fernsehn. Wir öffnen die Schlosstüren für Ihre gewerblichen Aufnahmen. Hier geht's entlang...")