include _teasers-mixins
.teaser__wrapper
  .teaser__container
    .teaser__container-inner
      +teaser('../images/teaser22.jpg', "Museum Corps de Logis", "Barocke Pracht hinter rosa Schlossmauern: Bestaunen Sie in unseren Führungen den eindrucksvollen Kuppelsaal, kunstvollen Wandschmuck oder versteckte Dienergänge aus dem 18. Jahrhundert.")
      +teaser('../images/teaser33.jpg', "MUSEM FÜR GARTENKUNST", "Entdecken Sie Gartenkunst in all Ihren Facetten: Auffällige Blumenmoden, anmutige Skulpturen und außergewöhnliche Pflanzenarten führen Sie durch eine 2500-jährige Geschichte.")
      +teaser('../images/teasers/teaser_8.jpg', "NATURKUNDEMUSEUM", "Kommen Sie mit auf eine Reise in die heimische Tier- und Pflanzenwelt. Das Naturkundemuseum gibt Ihnen spannende Einblicke in die Flora und Fauna des Rheinlands und das Leben im Schlosspark.")
      +teaser('../images/teasers/teaser_9.jpg', "Schlosspark", "Über 60 Hektar zum Spazieren, Flanieren und Seele baumeln lassen. Prachtvoll angelegte Gärten, weite Grünflächen, zwei Weiher und ein Wald ummalen das Schloss und laden zum Entspannen in der Natur ein.")
      +teaser('../images/teasers/teaser_10.jpg', "Museumsshop", "Von dienstags bis sonntags nach Herzenslust shoppen: In unserem Museumsshop gibt es nicht nur Eintrittskarten ins Schloss, sondern auch Literatur, unseren eigenen Schlosshonig und viele schöne Mitbringsel.")
      +teaser('../images/teasers/teaser_11.jpg', "Schlosscafé", "Eine Tasse Kaffee mit Blick auf das Schloss, ein Stück Kuchen auf der Sonnenterrasse oder ein ausgedehntes Frühstück in gemütlicher Runde: Das Schlosscafé lädt ein zum Beisammensein und Innehalten.")