include _teasers-mixins


.teaser__container.teaser__container--swiper
	.teaser__container-inner
		+teaser('../images/teaser22.jpg', "Museum Corps de Logis", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
		+teaser('../images/teaser33.jpg', "MUSEM FÜR GARTENKUNST", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
		+teaser('../images/teaser11.jpg', "NATURKUNDEMUSEUM", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
br
br
.teaser__wrapper
	.teaser__container
		.teaser__container-inner
			+teaser('../images/teaser22.jpg', "Museum Corps de Logis", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
			+teaser('../images/teaser33.jpg', "MUSEM FÜR GARTENKUNST", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
			+teaser('../images/teaser11.jpg', "NATURKUNDEMUSEUM", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")


//- //- teaser-event
.teaser__wrapper
	.teaser__container
		.teaser-event__container-inner
			+teaser-event('../images/teaser11.jpg', "Führung für Kinder", "Handpuppenführung mit Carl und Elisabeth Augutse", "27.10. 17:OO Uhr")
			+teaser-event('../images/teaser22.jpg', "Ausstellung", "Kuratorengespräch", "02.06. 13:OO Uhr")
			+teaser-event('../images/teaser33.jpg', "Führung", "Schlossführung Corps de Logis", "4-mal Täglich")
			+teaser-event('../images/teaser33.jpg', "Ausstellung", "Flores del Mar", "27.10.19- 19.01.20")


br
br
//- teasers-bg
.teaser__wrapper.teaser__wrapper--color
	.teaser__container
		.teaser__container-inner
			+teaser('../images/teaser11.jpg', "Museum Corps de Logis", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
			+teaser('../images/teaser22.jpg', "Räume Mieten", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")
			+teaser('../images/teaser33.jpg', "Film, Fernsehn und Fotografie", "Während des Spanischen Bürgerkriegs schuf Picasso sein erstes politisches Werk. Eine Radierfolge...")