include _teasers-mixins

.teaser-event__container
  .teaser-event__container-inner
    +teaser-event('../images/teaser11.jpg', "Führung für Kinder", "Handpuppenführung mit Carl und Elisabeth Augutse", "27.10. 17:OO Uhr")
    +teaser-event('../images/teaser22.jpg', "Ausstellung", "Kuratorengespräch", "02.06. 13:OO Uhr")
    +teaser-event('../images/teaser33.jpg', "Führung", "Schlossführung Corps de Logis", "4-mal Täglich")
    +teaser-event('../images/teaser44.jpg', "Ausstellung", "Flores del Mar", "27.10.19- 19.01.20")
  .teaser-event__link
    a.btn.btn-secondary(href='#') ZUm Kalender